# If python build in source tree
*.egg-info
**/__pycache__

# Python compiled
*.pyc
*.pyd
*.pyo

# editor backups/cached
*.swp
*~
*.vscode
**/.mypy_cache
setup.cfg

# Some data which might be created
*.png

# macOS
.DS_Store
